In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
inventory_nat = pd.read_csv('C:\\Users\\QinruiXH\\OneDrive - rff\\ecp\\ecp_dataset\\source_data\\processed\\inventory\\inventory_nat.csv')
inventory_subnat = pd.read_csv('C:\\Users\\QinruiXH\\OneDrive - rff\\ecp\\ecp_dataset\\source_data\\processed\\inventory\\inventory_subnat.csv')

In [3]:
# create the new columns
inventory_nat['IPCC_cat_code_full'] = '' #11th column (index 10)
inventory_nat['IPCC_cat_code_1st'] = '' #12th column (index 11)
inventory_nat['IPCC_cat_code_2nd'] = '' #13th column (index 12)
inventory_nat['IPCC_cat_code_3rd'] = '' #14th column (index 13)
inventory_nat['IPCC_cat_code_4th'] = '' #15th column (index 14)
inventory_nat['IPCC_cat_code_5th'] = '' #16th column (index 15)
inventory_nat['IPCC_cat_code_6th'] = '' #17th column (index 16)

In [4]:
# fill in IPCC_cat_code_full with a copy of IPCC_cat_code that all has the max length of 6
inventory_nat['IPCC_cat_code_full'] = inventory_nat.iloc[:, 2].str.ljust(6, "_") # the 3rd col is IPCC_cat_code

In [5]:
inventory_nat

,Jurisdiction,Year,IPCC_cat_code,iea_code,Product,CO2_emissions,CO2em_share_jurGHG,CO2em_share_jurCO2,CO2em_share_wldGHG,CO2em_share_wldCO2,IPCC_cat_code_full,IPCC_cat_code_1st,IPCC_cat_code_2nd,IPCC_cat_code_3rd,IPCC_cat_code_4th,IPCC_cat_code_5th,IPCC_cat_code_6th
0,Afghanistan,1989,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0_____,,,,,,
1,Afghanistan,1989,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_____,,,,,,
2,Afghanistan,1989,1A,ABFLOW001,Coal/peat,NaN,NaN,NaN,NaN,NaN,1A____,,,,,,
3,Afghanistan,1989,1A,ABFLOW001,Natural gas,NaN,NaN,NaN,NaN,NaN,1A____,,,,,,
4,Afghanistan,1989,1A,ABFLOW001,Oil,NaN,NaN,NaN,NaN,NaN,1A____,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976629,Zimbabwe,2021,4E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4E____,,,,,,
1976630,Zimbabwe,2021,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5_____,,,,,,
1976631,Zimbabwe,2021,5A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5A____,,,,,,
1976632,Zimbabwe,2021,5A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5A1___,,,,,,
1976633,Zimbabwe,2021,5A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5A2___,,,,,,

In [6]:
# special case 1: sectors that cannot be disaggregated
list1 = ['20', '200', '2000', '20000', '200000']
index1 = np.isin(inventory_nat.IPCC_cat_code, list1)
inventory_nat.loc[index1, 'IPCC_cat_code_1st'] = inventory_nat.loc[index1, 'IPCC_cat_code_full']

In [7]:
# special case 2: sectors that end with 10
list2 = ['2B10']
index2 = np.isin(inventory_nat.IPCC_cat_code, list2)
inventory_nat.loc[index2, 'IPCC_cat_code_1st'] = '2'
inventory_nat.loc[index2, 'IPCC_cat_code_2nd'] = 'B'
inventory_nat.loc[index2, 'IPCC_cat_code_3rd'] = '10'

In [8]:
# all the other cases: each letter/number represents a level of disaggregation
from operator import itemgetter
def Extract(lst, i):
    return list( map(itemgetter(i), lst ))

list3 = ['20', '200', '2000', '20000', '200000', '2B10']
index3 = np.logical_not(np.isin(inventory_nat.IPCC_cat_code, list3))
inventory_nat.loc[index3, 'IPCC_cat_code_1st'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 0)
inventory_nat.loc[index3, 'IPCC_cat_code_2nd'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 1)
inventory_nat.loc[index3, 'IPCC_cat_code_3rd'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 2)
inventory_nat.loc[index3, 'IPCC_cat_code_4th'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 3)
inventory_nat.loc[index3, 'IPCC_cat_code_5th'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 4)
inventory_nat.loc[index3, 'IPCC_cat_code_6th'] = Extract(inventory_nat.loc[index3, 'IPCC_cat_code_full'], 5)

In [9]:
np.where(index2==True)

(array([    194,     492,     790, ..., 1975934, 1976232, 1976530],
       dtype=int64),)

In [10]:
inventory_nat.iloc[194, :]

Jurisdiction          Afghanistan
Year                         1989
IPCC_cat_code                2B10
iea_code                      NaN
Product                       NaN
CO2_emissions                 NaN
CO2em_share_jurGHG            NaN
CO2em_share_jurCO2            NaN
CO2em_share_wldGHG            NaN
CO2em_share_wldCO2            NaN
IPCC_cat_code_full         2B10__
IPCC_cat_code_1st               2
IPCC_cat_code_2nd               B
IPCC_cat_code_3rd              10
IPCC_cat_code_4th
IPCC_cat_code_5th
IPCC_cat_code_6th
Name: 194, dtype: object

In [11]:
# replace all the blank space and drop the IPCC_cat_code_full variable
inventory_nat = inventory_nat.replace('_', '', regex=True)
inventory_nat.drop('IPCC_cat_code_full', inplace=True, axis=1)

In [12]:
inventory_nat.head(20)

,Jurisdiction,Year,IPCC_cat_code,iea_code,Product,CO2_emissions,CO2em_share_jurGHG,CO2em_share_jurCO2,CO2em_share_wldGHG,CO2em_share_wldCO2,IPCC_cat_code_1st,IPCC_cat_code_2nd,IPCC_cat_code_3rd,IPCC_cat_code_4th,IPCC_cat_code_5th,IPCC_cat_code_6th
0,Afghanistan,1989,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,,,,,
1,Afghanistan,1989,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,,
2,Afghanistan,1989,1A,ABFLOW001,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,,,,
3,Afghanistan,1989,1A,ABFLOW001,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,,,,
4,Afghanistan,1989,1A,ABFLOW001,Oil,NaN,NaN,NaN,NaN,NaN,1,A,,,,
5,Afghanistan,1989,1A1,NaN,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,1,,,
6,Afghanistan,1989,1A1,NaN,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,1,,,
7,Afghanistan,1989,1A1,NaN,Oil,NaN,NaN,NaN,NaN,NaN,1,A,1,,,
8,Afghanistan,1989,1A1A,ABFLOW002,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,1,A,,
9,Afghanistan,1989,1A1A,ABFLOW002,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,1,A,,
10,Afghanistan,1989,1A1A,ABFLOW002,Oil,NaN,NaN,NaN,NaN,NaN,1,A,1,A,,
11,Afghanistan,1989,1A1A1,ABFLOW003,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,1,A,1,
12,Afghanistan,1989,1A1A1,ABFLOW003,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,1,A,1,
13,Afghanistan,1989,1A1A1,ABFLOW003,Oil,NaN,NaN,NaN,NaN,NaN,1,A,1,A,1,
14,Afghanistan,1989,1A1A2,ABFLOW004,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,1,A,2,
15,Afghanistan,1989,1A1A2,ABFLOW004,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,1,A,2,
16,Afghanistan,1989,1A1A2,ABFLOW004,Oil,NaN,NaN,NaN,NaN,NaN,1,A,1,A,2,
17,Afghanistan,1989,1A1A3,ABFLOW005,Coal/peat,NaN,NaN,NaN,NaN,NaN,1,A,1,A,3,
18,Afghanistan,1989,1A1A3,ABFLOW005,Natural gas,NaN,NaN,NaN,NaN,NaN,1,A,1,A,3,
19,Afghanistan,1989,1A1A3,ABFLOW005,Oil,NaN,NaN,NaN,NaN,NaN,1,A,1,A,3,